/* Blog category page module styles
========================================================================== */

.intro-category {
  background-color: $juno-violet-grey !important;
  padding: 3rem 0 6rem;
  margin-bottom: 2rem;
  @include respond-to('tablet') {
    padding-top: 2rem;
  }
}

.blog-roll {
  position: relative;
  margin: 4rem auto 0;
  grid-column: 2 / -2;
  display: grid;
  grid-template-columns: repeat(36, 1.527778fr);
  grid-column-gap: 1%;
  @include respond-to('tablet') {
    max-width: 1024px;
    grid-template-columns: repeat(24, 2.79666fr);
    grid-column-gap: 1%;
  }
  @include respond-to('mobile') {
    max-width: 640px;
    grid-column: 1 / -2;
    grid-template-columns: 3% repeat(12, 5.666fr);
    grid-column-gap: 2%;
  }
}

.link-container {
  grid-column: 1 / -1;
  margin-bottom: 4rem;
  justify-content: start;
  @include respond-to('mobile') {
    grid-column: 2 / -1;
  }
}

.link-container .back-to-all {
  position: relative;
  left: -15px;
  font-size: 2.4rem;
  padding: 1rem 1.5rem 1rem 0rem;
  svg {
    position: relative;
    bottom: -23px;

    polyline, 
    line {
      transition: none;
    }
  }
  &:hover polyline,
  &:hover line,
  &:focus polyline,
  &:focus line {
    stroke: $juno-dark-violet;
    transition: none;
  }
}

.title-block {
  grid-column: 2 / 18;
  margin: 2rem 0 0;
  @include respond-to('tablet') {
    grid-column: 2 / -2;
    margin-bottom: 4rem;
  }
  @include respond-to('mobile') {
    grid-column: 2 / -2;
    font-size: 5rem;
    line-height: 5.4rem;
    margin-bottom: 2rem;
  }
}

.title-block p {
  color: $white;
  margin-top: 2rem;
  @include respond-to('tablet') {
    margin-bottom: 2rem;
  }
}

.title-block a {
  color: $juno-custard;
  display: inline;
  font-size: inherit;
}

.title-filter {
  color: $white !important;
  font-size: 7.4rem;
  line-height: 8rem;
  @include respond-to('mobile') {
    font-size: 5rem;
    line-height: 5.4rem;
  }
}

.explore {
  color: $juno-periwinkle;
  font-family: $font-body-regular;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.8rem;
  letter-spacing: 0.1rem;
}

.categories {
  grid-column: 19 / -2;
  @include respond-to('tablet') {
    grid-column: 2 / 18;
  }
  @include respond-to('mobile') {
    grid-column: 2 / -2;
  }
}

.categories-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 1.5rem 0 0.75rem;
  @include respond-to('mobile') {
    display: block;
  }
}

.categories-list li {
  flex-basis: 50%;
  flex-grow: 1;
  flex-shrink: 1;
  margin-top: 0.75rem;
}

.category-link {
  padding: 0 !important;
  margin-right: 0 !important;
  white-space: nowrap;
}

.superscript {
  color: $juno-violet-grey;
  font-size: 1rem;
  letter-spacing: 0;
  line-height: 1.8rem;
  vertical-align: super;
  color: $juno-periwinkle;
}

.load-more {
  grid-column: 1 / -1;
  margin-top: -3rem;
  margin-bottom: 9rem;
}
.load-more button.load-more-button {
  overflow-anchor: none;
  appearance: none;
  background-color: none;
  background: url(../assets/images/blog/highlight-loadmoreposts.svg);
  background-position: center;
  background-size: cover;
  padding: 0;
  color: $juno-link-red;
  font-family: $font-body-medium;
  font-size: 6rem;
  line-height: 6rem;
  letter-spacing: -0.025rem;
  text-align: left;
  cursor: pointer;
  @include respond-to('mobile') {
    font-size: 4rem;
    line-height: 4.4rem;
  }
}
