/* Global variables
========================================================================== */

$font-heading-light: 'LyonDisplay Light'; /*please also include font-variant-numeric: lining-nums;*/
$font-heading-regular: 'LyonDisplay Regular';
$font-body-regular: 'NeurialGrotesk Regular';
$font-body-medium: 'NeurialGrotesk Medium';
$font-body-italic: 'NeurialGrotesk Italic';
$font-code-regular: 'Roboto Mono';

$apostrophe: ’;
$apostrophe-code: &rsquo;
$en-dash: –;
$en-dash-code: &ndash;

$white: #fff;
$black: #000;

$fastest-duration: 0.1s;
$fast-duration: 0.2s;
$default-duration: 0.3s;
$slow-duration: 0.4s;
$slowest-duration: 0.6s;

$juno-red: #ea593e;
$juno-link-red: #d64c31;
$juno-coral: #ed725b;
$juno-burnt-orange: #d86227;
$juno-violet-grey: #4a455c;
$juno-dark-violet: #221c38;
$juno-mauve: #84707f;
$juno-mauve-blue: #7c7d98;
$juno-evergreen: #105754;
$juno-sea-glass: #deebe7;
$juno-pale-mint: #bdddd8;
$juno-pale-mint-2: #b6d9d4;
$juno-blue-sky: #cfdde7;
$juno-blue-sky-2: #c7d5df;
$juno-periwinkle: #96a1be;
$juno-mustard: #daad46;
$juno-tumeric: #e59c2e;
$juno-yellow-peach: #efd397;
$juno-almond: #e9c9af;
$juno-almond-2: #edd7c8;
$juno-peach: #e7b38a;
$juno-custard: #ffcdaf;
$juno-custard-2: #ffdbc4;
$juno-sand: #f5dfd0;
$juno-light-sand: #fbf7f4;
$style-guide-border-grey: #e8e8e8;