// z-index added to work around border-radius & overflow hidden bug that appears on Safari (https: //gist.github.com/ayamflow/b602ab436ac9f05660d9c15190f4fd7b)
.headshot {
  position: relative;
  z-index: 1;
  overflow: hidden;
  border-radius: 50%;
  flex-shrink: 0;
  flex-grow: 0;
}